{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="footer-basic" style="background-color: transparent !important; box-shadow: none !important;">>
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Cyberpunk 2077</a></li>
            </ul>
            <p class="copyright">scyberlife© 2023</p>
        </footer>
    </div>


